<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.efedaniel.travelmanticsalc">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/travelmantis_logo_normal_copy"
        android:label="@string/app_name"
        android:roundIcon="@drawable/travelmantis_logo_normal_copy"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ListActivity"
            android:label="@string/travel_deals"
            android:screenOrientation="portrait" />
        <activity
            android:name=".DealActivity"
            android:label="@string/travel_deals"
            android:screenOrientation="portrait" />
    </application>

</manifest>